*{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", serif;
}
body{
    background-color:  rgb(253 187 46);
}

.main{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* gap: 5px; */
    width: 100%;
    height: fit-content;
}
.right{
    margin: 5px 5px;
    height: fit-content;
    width: 80%;
    padding: 5px 5px;
    position: relative;
}
.menu{
    width: 30px;
    position: fixed;
    right: 1rem;
    top: 1rem;
    display:none;
    transition: all 0.5s ease-out;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
}
.profile_info{
    width: 60%;
    /* height: 2vh; */
    margin: 5px 5px;
    padding-left:10px;
}
.profile_info h1{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 2.5rem;
    font-style: normal;
}
.profile_info h2{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 1.5rem;
    font-style: normal;
    margin-top: 1rem;
}
.type{
    margin-top: 0.5rem;
    display: inline-block;
}
#text{
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 6rem;
    font-style: normal;
}
#cursor{
    display: inline-block;
    width: 8px;
    height: 4.5rem;
    margin-left: 0.5rem;
    background-color: black;
    animation: blink 0.6s infinite;
}
@keyframes blink {
    50% { opacity: 0; }
}
.profile_info button{
    width: 12rem;
    margin: 30px 10px 30px 0px;
    padding: 12px 5px;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 30px;
    background-color:rgb(20, 20, 20) ;
}
.profile_info button:hover{
    background-color:  rgb(253 187 46);
    cursor: pointer;
    /* color: black; */
}
.profile_info button:hover a{
    /* background-color:  rgb(255 219 103); */
    color: black;
}
.profile_info button a{
    text-decoration: none;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    color: white;
}

.profile_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    /* height: 2vh; */
    margin: 5px 5px;
}
.profile_img img{
    width: 90%;
}

/* Styling for About me section starts here */
.about{
    padding-left: 2rem;
    margin-top: 15rem;
    border-left: 7px solid black;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
    position: relative;
    
}
.show {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.back-heading{
    font-size: 10rem;
    /* margin: 15px 0px 15px 0px; */
    font-weight: 800;
    opacity: 0.2;
    z-index: -1;
    position: absolute;
    top: -8rem;
}
.mid-heading{
    font-size: 2rem;
    font-weight: 500;
    margin: 0px 0px 15px 35px;
}
.mid-heading2{
    font-size: 2rem;
    font-weight: 500;
    margin: 0px 0px 15px 35px;

}
.last-heading{
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0px 0px 0px 35px;
}
.about-info{
    margin-top: 2.5rem;
    display: flex;
}
.about-content{
    width: 70%;
}
.experience{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border: 2px solid black;
    z-index: 2;
}

.experience:hover #out1{
    transform: rotate(0);
}
.experience:hover #out2{
    transform: rotate(0);
}
.experience h2{
    font-size: 10rem;
    font-weight: 800;
}
.experience h3{
    font-size: 1.2rem;
    font-weight: 600;
}
.experience-outline{
    position: absolute;
    top: 23px;
    font-size: 10rem;
    font-weight: 800;
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
    
}
#out1{
    transform: rotate(-6deg);
    transition: all .5s;
}
#out2{
    transform: rotate(6deg);
    transition: all .5s;
}

.about-content h2{
    font-size: 2.5rem;
    font-weight: 400;
}
.about-content p{
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: 400;
}
.about-cards{
    display: flex;
    justify-content: start;
    gap: 70px;
    margin-top: 2rem;
}
.cards-content{
    font-size: 1.3rem;
    font-weight: 500;
}

/* Services styling starts from here */
.services{
    padding-left: 2rem;
    margin-top: 15rem;
    border-left: 7px solid black;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out; 
    position: relative;
    
}
.service-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
    
}
.service-card{
    width: 40%;
    border: 1px solid rgb(40, 40, 40);
    padding-left: 3rem;
    padding-bottom: 2rem;
}
.serial-no{
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem 1rem;
    width: fit-content;
}
.service-heading{
    margin-top:  2rem;
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
    width: fit-content;
}
.service-info ul{
    margin-top: 2rem;
}
.service-info ul li{
    list-style:circle;
    margin-top: 12px;
    font-size: 1.2rem;
    margin-left: 1rem;
}
/* Skills section starts from here */
.skill{
    padding-left: 2rem;
    margin-top: 15rem;
    border-left: 7px solid black;
    /* opacity: 0; */
    transform: translateY(50px);
    transition: all 0.6s ease-out; 
    position: relative;
}
.skill-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 2rem;
}
.skill-cards{
    width: 160px;
    /* height: 160px; */
    position: relative;
}
.outer{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    padding: 10px;
}
.inner{
    width: 134px;
    height: 134px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#number{
    font-size: 3rem;
    font-weight: 500;
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    /* animation: progress 1s linear forwards; */
    /* transform: rotateY(-90deg); */
}
@keyframes progress {
    100%{
        stroke-dashoffset: 99;
    }
}
@keyframes progress1 {
    100%{
        stroke-dashoffset: 80;
    }
}
@keyframes progress2 {
    100%{
        stroke-dashoffset: 110;
    }
}
@keyframes progress3 {
    100%{
        stroke-dashoffset: 65;
    }
}
svg{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(270deg);
}
.label{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    border-radius: 50px;
    border: 1px solid black;
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 600;
}
.dev-skill{
    margin-top: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
}
.dev-bar{
    position: relative;
    width: 45%;
    height: fit-content;
    padding: 12px 12px;
}
.progress-container {
    /* position: absolute; */
    /* top: 50%; */
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f0f0f0;
    margin-top: 5px;
}
.progress-bar {
    width: 0;
    height: 100%;
    background-color: #3D3D3D;
    transition: width 2s linear;
}
.dev-title{
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 1rem;
    border-left: 5px solid black;
}
.dev-subtitle{
    font-size: 1.1rem;
    font-weight: 400;
    /* position: absolute; */
    top: 1px;
    right: 15px;
}
.language{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 5rem;
}

/* Fact section Starts From Here */
.fact-left{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10rem;
    padding-left: 1rem;
}
.fact-right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10rem;
    padding-right: 5rem;
    margin-top: 2rem;
}
.fact-title{
    position: relative;
}
.fact-title h2{
    font-size: 8rem;
    font-weight: 800;
    border-bottom: 3px solid black;
}
.facts-outline{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 8rem;
    font-weight: 800;
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
    transition: all 1.5s ease-in-out;
}
.facts-outline2{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 8rem;
    font-weight: 800;
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
    transition: all 1.5s ease-in-out;
}
.fact-title h3{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1rem;
}
.left{
    margin: 5px 5px;
    width: 20%;
    position: relative;
    transition: left 0.6s ease-out;
}
.left ul{
    position: fixed;
    top: 8rem;
    /* right: 9rem; */
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    border-left: 4px solid rgba(206, 153, 37, 0.741);
    width:20%;
}
.left ul li{
    /* background-color: rgba(206, 153, 37, 0.741); */
    padding: 12px 12px;
    position: relative;
}
.left ul li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(206, 153, 37, 0.741);
    transition: width 0.5s ease-in-out;
    z-index: -1;
}
.change{
    background-color: rgba(206, 153, 37, 0.741);
    border-left: 4px solid rgba(0, 0, 0, 0.741);
    transition: background-color .5s ease-in-out;
}
.left ul li:hover::before{
    
    width: 100%;
    border-left: 4px solid rgba(0, 0, 0, 0.741);
    cursor: pointer;
}
.left ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    position: relative;
    animation-name: slide;
}

